#principal{
    float: left;
    column-count: 3;
    display: inline;
    width: 100%;
}

.pok {
    text-align: center;
    padding-bottom: 2%;
}

.pok img {
    width: 40%;
}

.pok p{
    font-weight: bold;
}

.pok button{
    background-color: black;
    color: white;
}

#main-banner img {
    width: 100%;
}

@media only screen and (max-width: 768px) {
	#principal{
        float: left;
        column-count: 1;
        display: inline;
        width: 100%;
    }
}
